.pool-manager {
    position: relative;
    
}
/* Start Upper Pool */
.upperPool-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);

    width:500px;
    height:250px;
    background-color: aqua;
    border:15px solid red;
   
}
.gs-up1 {
    position: absolute; 
    top: 50%;
    right: 50%;
    transform: translate(50%, 300%);

}
.gs-up2 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 990%);
}
.gs-up3 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-150%, 650%);
}
.gs-up4 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(250%, 650%);
}
.hg-up1 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 650%);
}
/* End Upper Pool */

.guard-stands label {
    display: block;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hg-up1 label{
    background-color: red;
}
