.pool-container {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    border:15px solid red;
    padding: 10px;
    width:500px;
    height:250px;
    background-color: aqua;
   
}

.gs-up1 {
    position: absolute;
    left: 25%;
    top: 25%;
    transform: translate(-25%, -75%);

}
.gs-up2 {
    position: absolute;
}
.gs-up3 {
    position: absolute;
}
.gs-up4 {
    position: absolute;
}
.hg-up1 {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

.guard-stands label {
    display: block;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hg-up1 label{
    background-color: red;
}
